body{
    background-image:url('/img/pxfuel.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Madimi One", sans-serif;
}

h1{
    text-align: center;
    color: rgb(59, 57, 57);
}

a{
    margin: 1%;
}

p{
    text-align: center;
}

.ul-liste li{
    text-align: center;
    list-style-position: inside;
}

.kaplama-image{
    text-align: center;
}

.kaplama-image p{
    margin: auto;
}

.fa{
    margin: 0.3%;
}